.asidebackground {
    display: inline-block;
    width: 50%;
    height: auto;
    background-image: url('../../assets/ingredients-background.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    border: solid 1px black;
}

@media screen and (min-width: 768px) {
.asidebackground {
    height: 50vh;
}
}
