.page-container {
    background-image: url("../assets/ingredients-background.jpg");
    color: var(--voediemealgrey);
    height: 60vh;
    padding:150px;
    display: flex;
    justify-content: center;
}

.contact-main {
    background-color: white;
    border-radius: 8px;
    border: 1px solid #dadce0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: fit-content;
    width: 450px;
}

.contact-container {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    padding: 20px;
}

.contact-container span {
    text-align: center;
    padding: 16px;
}

.input-field {
    padding: 8px;
    margin: 8px;
    width: 250px;
}

#user-message {
    padding: 8px;
    margin: 8px;
    width: 250px;
}

#email-warning {
    color: red;
    padding: 0px;
    font-size: 12px;
    margin-bottom: 16px;
}

.lower-footer {
    position: fixed;
    left: 0;
    bottom: 0;
    height: 25px;
    width: 100%;
}