.page-container {
    background-image: url("../assets/ingredients-background.jpg");
    color: var(--voediemealgrey);
    height: 62vh;
    padding:200px;
    display: flex;
    justify-content: center;
}

.email-main {
    background-color: white;
    border-radius: 8px;
    border: 1px solid #dadce0;
    display: flex;
    height: fit-content;
    width: 450px;
}

.email-notification-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
}

h3 {
    font-size: 24px;
    font-weight: bold;
    padding: 16px;
    margin: 0;
    text-align: center;
}

.email-notification-container p {
    font-size: 14px;
    padding: 16px;
    text-align: center;
    margin: 0;
}

#mail-icon {
    width: 150px;
}
