body {
    background-image: url("../assets/ingredients-background.jpg");
    color: var(--voediemealgrey);
}

.email-main {
    background-color: white;
    border-radius: 8px;
    border: 1px solid #dadce0;
    display: block;
    margin: 5% auto 5% auto;
    width: 450px;
}

.email-notification-container {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    padding: 20px;
}

h3 {
    font-size: 24px;
    font-weight: bold;
    padding: 16px;
    text-align: center;
}

.email-notification-container span {
    font-size: 14px;
    padding: 16px;
    text-align: center;
}

#mail-icon {
    width: 150px;
}

.lower-footer {
    position: fixed;
    left: 0;
    bottom: 0;
    height: 25px;
    width: 100%;
}
