.page-container-faq {
    background-image: url("../assets/ingredients-background.jpg");
}

.outer-container {
    display: flex;
    flex-direction: column;
}

.flexbackground {
    display: flex;
    width: 100%;
    height: 100vh;
    background-image: url('../assets/faqpic.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}

.faq-main {
    margin-top: 32px;
    margin-right: 32px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

@media screen and (min-width: 768px) {
    .outer-container {
        flex-direction: row;
    }

    .faq-main {
        width: 50%;
    }

    .flexbackground {
        width: 50%;
    }
}