.page-container-faq {
    background-image: url("../assets/ingredients-background.jpg");
}

.outer-container {
    display: flex;
    flex-direction: row;
}

.flexbackground {
    display: flex;
    width: 50%;
    background-image: url('../assets/faqpic.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}

.faq-main {
    margin-top: 32px;
    margin-right: 32px;
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}
