body {
    background-image: url("../assets/ingredients-background.jpg");
    color: hsl(220, 3%, 45%)
}

.outer-container {
    display: flex;
    flex-direction: row;
}

.flexbackground {
    display: flex;
    width: 50%;
    background-image: url('../assets/faqpic.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}

main {
    margin-top: 32px;
    margin-right: 32px;
    width: 50%;
    display: flex;
    flex-direction: column;
}