@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro:wght@400;900&display=swap');

* {
    padding: 0;
    margin: 0;
    cursor: url(https://ani.cursors-4u.net/nature/nat-11/nat1054.cur), auto;
}

:root {
    --voediemealgreen: hsl(138, 70%, 84%);
    --voediemealgrey: hsl(220, 3%, 45%);
}

body {
    font-family: 'Source Code Pro', monospace;
    color: var(--voediemealgrey);
}

.active {
    border: 2px solid hsl(138, 70%, 75%);
}