.page-container {
    background-image: url("../assets/ingredients-background.jpg");
    color: var(--voediemealgrey);
    height: 60vh;
    padding:100px;
    display: flex;
    justify-content: center;
}

.password-main {
    background-color: white;
    border-radius: 8px;
    border: 1px solid #dadce0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: fit-content;
    width: 450px;
}
.forgot-password-container {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    padding: 20px;
}

h3 {
    font-size: 24px;
    font-weight: bold;
    padding: 16px;
    margin: 0px;
}

.forgot-password-container p {
    font-size: 14px;
    padding: 16px;
    margin: 0;
}

form {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.input-field {
    padding: 8px;
    margin: 8px;
    width: 250px;
}

#password-warning,
#email-warning {
    color: red;
    padding: 0px;
    margin-bottom: 16px;
    font-size: 12px;
    text-align: center;
}

.lower-footer {
    position: fixed;
    left: 0;
    bottom: 0;
    height: 25px;
    width: 100%;
}
