.page-container-recipe {
    background-image: url("../assets/ingredients-background.jpg");
    color: var(--voediemealgrey);
    height: 80vh;
    padding:100px;
    display: flex;
    justify-content: center;
}


.recipe-main {
    background-color: white;
    border-radius: 8px;
    border: 1px solid #dadce0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: fit-content;
    width: 600px;
}

.recipe-container {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    padding: 20px;
}

.recipe-container p {
    font-size: 14px;
    padding: 16px;
    margin: 0;
}

.recipe-container ul {
    font-size: 12px;
    margin-left: 40px;
}

.recipe-container ol {
    font-size: 12px;
    margin-left: 40px;
}

h3 {
    font-size: 24px;
    font-weight: bold;
    padding: 16px;
    text-align: center;
}

.recipe-instructions {
    font-size: 14px;
    text-align: left;
    margin: 0;
}

.lower-footer {
    position: fixed;
    left: 0;
    bottom: 0;
    height: 25px;
    width: 100%;
}
