.page-container-recipe {
    background-image: url("../assets/ingredients-background.jpg");
    color: var(--voediemealgrey);
    height: 80vh;
    padding:100px;
    display: flex;
    justify-content: center;
}


.recipe-main {
    background-color: white;
    border-radius: 8px;
    border: 1px solid #dadce0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: fit-content;
    width: 600px;
}

.recipe-container {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    padding: 20px;
}

.recipe-container p {
    font-size: 14px;
    padding: 16px;
    margin: 0;
}

.recipe-container ul {
    font-size: 12px;
    margin-left: 40px;
}

.recipe-container ol {
    font-size: 12px;
    margin-left: 40px;
}

h3 {
    font-size: 24px;
    font-weight: bold;
    padding: 16px;
    text-align: center;
}

.recipe-instructions {
    font-size: 14px;
    text-align: left;
    margin: 0;
}

.loader {
    border: 10px solid var(--voediemealgrey);
    border-radius: 50%;
    border-top: 10px solid var(--voediemealgreen);
    background-color:white;
    margin: auto auto 30px auto;
    width: 60px;
    height: 60px;
    animation: spin 1s linear infinite;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

.potential-error {
    color: red;
    font-size: 10px;
    text-align: center;
    background-color: white;
    display: block;
    width: 450px;
    margin: auto auto 30px auto;
    height: 10px;
    padding: 16px;
    border: 1px solid black;
    border-radius: 15px;
    box-shadow: 10px 10px 5px var(--voediemealgreen);
}

.lower-footer {
    position: fixed;
    left: 0;
    bottom: 0;
    height: 25px;
    width: 100%;
}
