.\=section-search {
    background-color: var(--voediemealgrey);
    color: var(--voediemealgreen);
    text-align: center;
    border: 1px solid black;
    box-shadow: 10px 10px 5px var(--voediemealgreen);
    border-radius: 15px;
    height: 450px;
    padding: 16px;
    margin: 50px;
    flex-basis: 300px;
    flex-shrink: 1;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#search-icon {
    border-radius: 10px;
    height: 100px;
    width: 100px;
}

.\=section-search h2 {
    font-size: 30px;
    padding: 40px;
    margin: 0px;
}

.\=section-search p {
    margin: 0px;
}

.section-choose {
    background-color: var(--voediemealgreen);
    text-align: center;
    border: 1px solid black;
    box-shadow: 10px 10px 5px var(--voediemealgrey);
    border-radius: 15px;
    height: 450px;
    padding: 16px;
    margin: 50px;
    flex-basis: 300px;
    flex-shrink: 1;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#mouse-icon {
    border-radius: 10px;
    height: 100px;
    width: 100px;
}

.section-choose h2 {
    font-size: 30px;
    padding: 40px;
    margin: 0px;
}

.section-choose p {
    margin: 0px;
}

.section-cook {
    background-color: var(--voediemealgrey);
    color: var(--voediemealgreen);
    text-align: center;
    border: 1px solid black;
    box-shadow: 10px 10px 5px var(--voediemealgreen);
    border-radius: 15px;
    height: 450px;
    padding: 16px;
    margin: 50px;
    flex-basis: 300px;
    flex-shrink: 1;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#cook-icon {
    border-radius: 10px;
    height: 100px;
    width: 100px;
}

.section-cook h2 {
    font-size: 30px;
    padding: 40px;
    margin: 0px;
}

.section-cook p {
    margin: 0px;
}

.searchbar {
    padding: 8px;
    margin: 8px;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

input {
    padding: 8px;
    margin: 8px;
}

#user-food-input {
    font-size: large;
    width: 600px;
    padding: 16px;
    border-radius: 8px;
    margin-right: 8px;
}

.recipeimg {
    border-radius: 15px;
    height: 150px;
    width: 150px;
}

h3 {
    font-size: 30px;
    margin-left: 50px;
    margin-top: 50px;
    margin-bottom: 20px;
}

.background-container {
    background-image: url("../assets/ingredients-background.jpg");
}

.recipeResults {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.recipeResults article {
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 350px;
    height: 250px;
    padding: 16px;
    margin: 50px;
    border: 1px solid black;
    border-radius: 15px;
    box-shadow: 10px 10px 5px var(--voediemealgreen);
}

.recipeResults article h4 {
    margin: 0;
    padding: 8px;
}

.recipeResults article img {
    margin: 0;
    padding-left: 8px;
}

.recipeResults article p {
    margin: 0;
    padding: 8px;

}

.recipe-link:link {
    color: var(--voediemealgrey);
    text-decoration: none;
}

.recipe-link:visited {
    color: var(--voediemealgreen);
}

.loader {
    border: 10px solid var(--voediemealgrey);
    border-radius: 50%;
    border-top: 10px solid var(--voediemealgreen);
    background-color:white;
    margin: auto auto 30px auto;
    width: 60px;
    height: 60px;
    animation: spin 1s linear infinite;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}


.potential-error {
    color: red;
    font-size: 10px;
    text-align: center;
    background-color: white;
    display: block;
    width: 450px;
    margin: auto auto 30px auto;
    height: 10px;
    padding: 16px;
    border: 1px solid black;
    border-radius: 15px;
    box-shadow: 10px 10px 5px var(--voediemealgreen);
}


@media screen and (min-width: 768px) {
    .tutorial-voediemaag {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
    }

    .recipeResults {
        flex-direction: row;
        flex-wrap: wrap;
    }

    .recipeResults article {
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 300px;
    }
}