.burgerMenuOpen,
.burgerMenuClosed {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background: var(--voediemealgreen);
    border-style: double;
    border-bottom-left-radius: 100%;
    height: 100vh;
    width: 50%;
    text-align: left;
    padding: 2rem;
    position: absolute;
    top: 0;
    right: 0;
    transition: transform 0.3s ease-in-out;
    z-index: 9;
}

.burgerMenuOpen {
    transform: translateX(0%);
}

.burgerMenuClosed {
    display: none;
}

.navBurgerItems {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: flex-end;
    text-align: left;
    flex-basis: 750px;
    list-style-type: none;
}

.navBurgerItem {
    display: block;
    color: var(--voediemealgrey);
    text-align: center;
    padding: 40px 40px;
    text-decoration: none;
    font-weight: bold;
    font-size: x-large;
    border-radius: 15px;
}

.navBurgerItem:hover {
    background-color: hsl(138, 70%, 80%);
}

.login {
    width: 12px;
}

@media screen and (min-width: 768px) {
    .burgerMenuOpen,
    .burgerMenuClosed {
        display: none;
    }

}