.intro {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    font-size: 24px;
    margin: 50px 50px 15px 50px;
    padding: 50px;
    border: 1px solid black;
    background-image: linear-gradient(white, var(--voediemealgreen));
    border-radius: 12px;
    box-shadow: 10px 10px 5px var(--voediemealgrey);
}