.navContainer {
    top: 0;
    background-color: var(--voediemealgreen);
    color: var(--voediemealgrey);
    border-style: double;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.logo {
    width: 120px;
}

.login {
    width: 12px;
}

.navItems {
    display: none;
    list-style-type: none;
}

@media screen and (min-width: 768px) {
    .navItems {
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        align-items: center;
        flex-basis: 750px;
    }

    .navItem {
        display: block;
        color: var(--voediemealgrey);
        text-align: center;
        padding: 40px 40px;
        text-decoration: none;
        font-weight: bold;
        border-radius: 15px;
    }
    .navItem:hover {
        background-color: hsl(138, 70%, 80%);
    }
}